{% extends "base/base.html" %}
{% block content %}


<style>
    .divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}
</style>

<div class="container">
<div class="card bg-light" style="text-align: center;">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Please Login</h4>
        <hr>
        <br>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}

        <form method="POST"  action="">
            {% csrf_token %}
        <div class="form-group input-group">
            <div class="input-group-prepend"></div>
             <input name="email" class="form-control" placeholder="email" type="email">
        </div> <!-- form-group// -->

        <div class="form-group input-group">
            <div class="input-group-prepend"></div>
             <input name="account_id" class="form-control" placeholder="account_id" type="id">
        </div> <!-- form-group// -->
    
        <div class="form-group input-group">
            <div class="input-group-prepend"></div>
            <input name="password" class="form-control" placeholder="password" type="password">
        </div> <!-- form-group// -->                                     
        <div class="form-group">
            <br>
            <button type="submit" class="btn btn-block btn-primary" style="border-radius: 50px; color: white;"> Login  </button>
        </div> <!-- form-group// -->  
        <br>    
    </form>

</article>
</div> <!-- card.// -->
</div>

{% endblock %}