{% extends "base/base.html" %}
{% block content %}


<!------ Include the above in your HEAD tag ---------->
<style>
    .divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}
</style>






<div class="card bg-light" style="text-align: center;">
<article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">Create Account for Student</h4>
    <hr>
    <br>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
	<form method="POST"  action="">
        {% csrf_token %}

        
    <div class="form-group input-group">
		<div class="input-group-prepend" >   </div>
        {{form.account_id}}
    </div> <!-- form-group// -->

	<div class="form-group input-group">
		<div class="input-group-prepend">   
		 </div>
        {{form.email}}
    </div> <!-- form-group// -->

    <div class="form-group input-group">
		<div class="input-group-prepend">   
		 </div>
        {{form.first_name}}
    </div> <!-- form-group// -->

    <div class="form-group input-group">
		<div class="input-group-prepend">   
		 </div>
        {{form.last_name}}
    </div> <!-- form-group// -->

    <div class="form-group input-group">
		<div class="input-group-prepend">   
		 </div>
        {{form.phone_number}}
    </div> <!-- form-group// -->

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		</div>
        {{form.password}}
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		</div>
        {{form.confirm_password}}
    </div> <!-- form-group// -->                                      
    <div class="form-group">
        <br>
        <button type="submit" class="btn  btn-block btn-primary" style="border-radius: 50px; ; color: white;"> Create Account  </button>
    </div> <!-- form-group// -->   
    <br>   
    <p class="text-center">If you have an account you can <a href="{% url 'accountLogin' %}">Log In</a> to your page </p>                                                                 
</form>
{{form.errors}}
</article>
</div> <!-- card.// -->

{% endblock %}

