{% extends "base/base.html" %}
{% block content %}
        
    

<style>
.my-custom-scrollbar {
position: relative;
height: 400px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}
</style>


<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="note" style="text-align: center;">
                <h2>Note</h2>
                <h6 style="color: red;">Please check your course list before you enroll any course in order not to take same course twice  </h6>
            </div>
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                       <div class="head" style="text-align: center;">
                        <h4>Course Table</h4>
                        <br>
                    </div>
                        
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table id="htmltable" class="table">
                                <thead>
                                    <tr>
                                        <th>Course Name</th>
                                        <th >Course ID</th>
                                        <th>Department</th>
                                        <th>Professor</th>
                                        <th>Credit</th>
                                        <th>Student</th>
                                        <th>Enrollment</th>
                                    </tr>
                                </thead>
                                
                                
                                <tbody>
                                    {% for course in courses %}
                                    <tr>
                                        
                                        <td>{{course.course_name}}</td>
                                        <td>{{course.course_num}}</td>
                                        <td>{{course.department}}</td>
                                        <td> {{course.professor.first_name}} {{course.professor.last_name}}</td>
                                        <td>{{course.credit}}</td>
                                        <td>{{course.place}}</td>
                                        <td>
                                            <form action="{% url 'enrollCourseModel' pk=course.pk %}" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-primary btn-sm">Enroll</button>
                                            </form>
                                        </td>
                                    
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <br>
            <br>

            <div class="button" style="text-align: center;">
                <a href="{% url 'enrolledCourseModel' %}" class="btn btn-primary btn-lg">View My Course Table</a>
            </div>

            <br>
            <br>
    </div>
</div>


{% endblock %}

