{% extends "base/base.html" %}
{% block content %}

<header>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Welcome</h1>
        <p class="fs-5 text-muted">Welcome to school system of Random University. If you are student you are able to enroll any course that you would like.
            And if you are Professor and have permission to register new Courses, please register new Courses as well.
        </p>
      </div>

</header>

{% endblock %}